{% extends "_base.htm" %}
{% block quotedis %}
<table class="mainTable" width="100%" border="0" cellpadding="5">

<div>	 		
		<p>Welcome to {{ collegeCode }} institution, we are proud to serve you. 
		This is an information portal for our institution and basically you will be able to browse and college 
		information about the organization you will be enrolling with</p>
		<p>Lets understand basic how to's:
			<ul>
				<li>Registering towards system :</li>
					<p>	If you are existing user to our institution you just need to perform a one time authentication, link for which is available when you try to access any app .</p>
					<p> If your organization has not yet added you and havent provided you your one time authentication code, we are sorry but we cannot grant you access to any apps .</p>
					<p> You can recommend this app to any one by trying a new domain for their organization which if available gives you an link to send recommendation !</p>
			
		
			    <li>Using various apps :</li>
				<p> Simply login using your Google Id and browse apps, there are various demos available on our demoApps page for further information</p>
			</ul>
		</p>
		
		<p>
		<ul>
			<li><b>For students:</b></li>
				You can :
				<ol>
					<li>Monitor your attendance</li>
					<li>Get notifications of your campus</li>
					<li>Pre book reources (refernces/ CD's etc) from library</li>
					<li>Pay dues , pay bills buy a pass etc ...</li>
					<li>Track your college bus, know other means to reach to campus</li>
					<li>Fetch your subject notes, event forms etc</li>
					<li>Browse college photo gallery, staff, etc</li>
					<li>Give Professors review for subjects you learn</li>
				</ol>
			<li><b>For Teachers:</b></li>
				You can :
				<ol>
					<li>Log attendance, get reports</li>
					<li>Notify your campus</li>
					<li>Pre book reources (refernces/ CD's etc) from library</li>
					<li>Pay dues , pay bills buy a pass etc ...</li>
					<li>Track your college bus, know other means to reach to campus</li>
					<li>Post your subject notes, event forms etc</li>
					<li>Get your feedback for subjects you teach</li>
				</ol>
			<li><b>For Parents:</b></li>
				You can :
				<ol>
					<li>Get your pals attendance, get reports</li>
					<li>Get notifications of your pal's campus</li>
					<li>Track your pal's college bus, know other means to reach to campus</li>
					<li>Get feedback for professors of subjects your pal learns from</li>
				</ol>
		</ul>
		</p>
</div>
</table>
{% endblock %}
