{% extends "_base.htm" %}
{% block quotedis %}
<table class="mainTable" width="100%" border="0" cellpadding="5">

<div>	 		
	<table width="100%" border="0" cellpadding="5">
   
   <tr>
    <td width="25%"><center> 
   <b>Students</b>  </center></td>
    <td width="25%"><center> 
   <b>Proffessor</b>  </center></td>
    <td width="25%"><center> 
   <b>Parents</b>  </center></td>
    <td width="25%"><center> 
   <b>Organization</b>  </center></td>
  </tr>

  <tr>
    <td><center><img src="images/student.png" width="45" height="77" /></center></td>
    <td><center><img src="images/teacher.png" width="66" height="95" /></center></td>
    <td><center><img src="images/parents.png" width="150" height="84" /></center></td>
    <td><center><img src="images/school.jpg" width="124" height="103" /></center></td>
  </tr>

  <tr>
    <td><ol>
	    <li>Monitor your attendance</li>
					<li>Get notifications of your campus</li>
					<li>Pre book reources (refernces/ CD's etc) from library</li>
					<li>Pay dues , pay bills buy a pass etc ...</li>
					<li>Track your college bus, know other means to reach to campus</li>
					<li>Fetch your subject notes, event forms etc</li>
					<li>Browse college photo gallery, staff, etc</li>
					<li>Give Professors review for subjects you learn</li>
	</ol></td>
    <td><ol>
	    <li>Log attendance, get reports</li>
					<li>Notify your campus</li>
					<li>Pre book reources (refernces/ CD's etc) from library</li>
					<li>Pay dues , pay bills buy a pass etc ...</li>
					<li>Track your college bus, know other means to reach to campus</li>
					<li>Post your subject notes, event forms etc</li>
					<li>Get your feedback for subjects you teach</li>
	</ol></td>
    <td><ol>
	    <li>Get your pals attendance, get reports</li>
					<li>Get notifications of your pal's campus</li>
					<li>Track your pal's college bus, know other means to reach to campus</li>
					<li>Get feedback for professors of subjects your pal learns from</li>
	</ol></td>
    <td><center>Just give a misscall to<br/><b> +917709938617 </b></center></td>
  </tr>
</table>	
</div>
</table>
{% endblock %}
