{% extends "_base.htm" %}
{% block quotedis %}
<table class="mainTable" width="100%" border="0" cellpadding="5">

<div>	 		
		<div>
        <p> You are redirected here becoz you either mis-spelled your college domain or there is no college with such subdomain !</p>
		<p> If you want to recommend this subdomain or website to some one please enter their email id with your custome message </p>
		
		<form method="" action="">
			<table>
				<tr>
					<th bgcolor="#CCC" style="color:#FFF;"> Recommendation form</th><th bgcolor="#CCC" style="color:#FFF;"></th>
				</tr>
				<tr>
					<td>Your Email id</td>
					<td><input type="text" name="senderemail"/></td>
				</tr>
				<tr>
					<td>Your acquiantance email id</td>
					<td><input type="text" name="senderemail"/></td>
				</tr>
				<tr>
					<td>Your message</td>
					<td><textarea></textarea></td>
				</tr>
                <tr>
					<td><input type="submit" value="Send"/></td>
					<td></td>
				</tr>
			</table>
		</form>
		
	    </div>
</div>
</table>
{% endblock %}
